    <article class="card mb-2 p-2">
        <div class="card-body p-2">
            <p>{{this.origin}}</p>
            <p>{{this.shortUrl}}</p>
            <a href="/eliminar/{{this._id}}" class="btn btn-danger">
                Eliminar 
            </a>
            <a href="/editar/{{this._id}}" class="btn btn-warning">
                Editar 
            </a>
            <button class="btn btn-info" href="#" data-short="{{this.this.shortUrl}}">
                Copiar
            </button>
        </div>
    </article>